{% extends 'base.html.twig' %}

{% block title %}Hello ReaderController!
{% endblock %}

{% block body %}

<h1>QUERY BUILDER</h1>
<h3>Books List! ✅</h3>
<table border="5" style="width: 100%;">
    <thead>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Pub date</th>
        <th>Published</th>
        <th>Readers</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>

        {% for x in books %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.author.username}}</td>
            <td>{{x.title}}</td>
            <td>{{x.category}}</td>
            <td>{{x.publicationDate|date()}}</td>

            <td>{{x.published}}</td>
            {% for y in x.reader %}
            <td>{{y.username}}</td>

            {% endfor %}


            <td>
                <a style="color: blue;" href="/book/edit/{{x.id}}">EDIT</a>
            </td>
            <td>
                <a style="color: red;" href="/book/delete/{{x.id}}">DELETE</a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>


<h3>Books List by author! ✅</h3>
<table border="5" style="width: 100%;">
    <thead>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Publication date</th>
        <th>Published</th>
        <th>Readers</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>

        {% for x in books2 %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.author.username}}</td>
            <td>{{x.title}}</td>
            <td>{{x.category}}</td>
            <td>{{x.publicationDate|date()}}</td>

            <td>{{x.published}}</td>
            {% for y in x.reader %}
            <td>{{y.username}}</td>

            {% endfor %}


            <td>
                <a style="color: blue;" href="/book/edit/{{x.id}}">EDIT</a>
            </td>
            <td>
                <a style="color: red;" href="/book/delete/{{x.id}}">DELETE</a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>


<br><br>


<a href="/book/new">
    New Book</a>


<h3>Books List Before 2023 + have 10+ books! ✅</h3>
<table border="5" style="width: 100%;">
    <thead>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Pub date</th>
        <th>Published</th>
        <th>Readers</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>

        {% for x in books3 %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.author.username}}</td>
            <td>{{x.title}}</td>
            <td>{{x.category}}</td>
            <td>{{x.publicationDate|date()}}</td>

            <td>{{x.published}}</td>
            {% for y in x.reader %}
            <td>{{y.username}}</td>

            {% endfor %}


            <td>
                <a style="color: blue;" href="/book/edit/{{x.id}}">EDIT</a>
            </td>
            <td>
                <a style="color: red;" href="/book/delete/{{x.id}}">DELETE</a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>


<br><br>
<h1>DQL</h1>
<h3>
    nombre des livres dont la catégorie est « Romance ». == {{nb}} ✅</h3>

<h3>
    books between 2014-01-01 » et «2018- 12-31 » ✅</h3>
<table border="5" style="width: 100%;">
    <thead>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Pub date</th>
        <th>Publushed</th>
        <th>Readers</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>

        {% for x in books4 %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.author.username}}</td>
            <td>{{x.title}}</td>
            <td>{{x.category}}</td>
            <td>{{x.publicationDate|date()}}</td>

            <td>{{x.published}}</td>
            {% for y in x.reader %}
            <td>{{y.username}}</td>

            {% endfor %}


            <td>
                <a style="color: blue;" href="/book/edit/{{x.id}}">EDIT</a>
            </td>
            <td>
                <a style="color: red;" href="/book/delete/{{x.id}}">DELETE</a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

<br><br>
{% endblock %}